<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-8 offset-2">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <p><%= err.stack %></p>
    </div>
  </div>
</div>

// CampgroundSchema.virtual("properties.popUpMarkUp").get(function () { //
return `<a href="/campgrounds/${this._id}">${this.title}</a>`; // });

<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="${this.images[0].url}"
        class="img-fluid rounded-start"
        alt="${this.title}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">${this.title}</h5>
        <p class="card-text">${this.description}</p>
        <p class="card-text">
          <small class="text-muted">${this.price}</small>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img src="${this.images[0].url}" class="card-img-top" alt="${this.title}" />
  <div class="card-body">
    <h5 class="card-title">${this.title}</h5>
    <p class="card-text">$ ${this.price} per night</p>
    <a href="/campgrounds/${this._id}" class="btn btn-primary"
      >See Campground</a
    >
  </div>
</div>
